.container {
    background-color: none;
}

.col {
    flex-grow: 0 !important;
}
.row {
    justify-content: center;
}

.trafficTop {
    background-color: black;
    margin-top: 20px;
    height: 200px;
}

.trafficBody {
    background-color: black;
    width: 200px !important;
    height: 400px;
    border-radius: 25px;
    padding-top: 20px;
}

.light {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.selected {
    box-shadow: 0 0 50px 30px rgb(228, 231, 178);
    border-width: 2px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}